<template>
    <div>
        <form class="md-layout" novalidate @submit.prevent="CreateProduct">
            <div class="md-layout-item">
                <md-card>
                    <md-card-content>
                        <md-field>
                            <label for="name">Product Name</label>
                            <md-input name="name" id="name" v-model="product.name" :disabled="sending" />
                        </md-field>
                        <md-field>
                            <label for="amount">Amount</label>
                            <md-input type="number" min="0.01" step="0.01" name="amount" id="amount" v-model="product.amount" :disabled="sending" />
                        </md-field>
                        <md-field>
                            <label for="items">Number of Items (Barcodes Required)</label>
                            <md-input type="number" min="1" step="1" name="items" id="items" v-model="product.items" :disabled="sending" />
                        </md-field>
                        <md-checkbox v-model="product.taxable" :disabled="sending">Taxable</md-checkbox><br>
                        <div class="taxable" v-if="product.taxable">

                            <md-checkbox v-model="igst_status" :disabled="sending">IGST</md-checkbox><br>
                            <md-field v-if="igst_status">
                                <label for="igst">IGST Percentage</label>
                                <md-input type="number" min="0.01" step="0.01" name="igst" id="igst" v-model="product.igst" :disabled="sending" />
                            </md-field>

                            <md-checkbox v-model="cgst_status" :disabled="sending">CGST</md-checkbox><br>
                            <md-field v-if="cgst_status">
                                <label for="cgst">CGST Percentage</label>
                                <md-input type="number" min="0.01" step="0.01" name="cgst" id="cgst" v-model="product.cgst" :disabled="sending" />
                            </md-field>
                            
                            <md-checkbox v-model="sgst_status" :disabled="sending">SGST</md-checkbox><br>
                            <md-field v-if="sgst_status">
                                <label for="sgst">SGST Percentage</label>
                                <md-input type="number" min="0.01" min-value="0.01" step="0.01" name="sgst" id="sgst" v-model="product.sgst" :disabled="sending" />
                            </md-field>
                        </div>
                        <md-button type="submit" class="md-primary float-right" :disabled="sending">Save</md-button>
                        <div class="py-4"></div>
                    </md-card-content>
                <md-progress-bar md-mode="query" v-if="sending"></md-progress-bar>
                </md-card>
            </div>
        </form>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                sending:false,
                igst_status:"",
                cgst_status:"",
                sgst_status:"",
                product: {
                    amount: "",
                    cgst: "",
                    created_at: "",
                    id: "",
                    igst: "",
                    items: "",
                    name: "",
                    sgst: "",
                    taxable: "",
                },
            }
        },
        created() {
            
        },
        methods: {
            CreateProduct(){
                this.sending = true;
                
                if(!this.product.taxable){
                    this.product.taxable = 0;
                    this.igst_status = false;
                    this.cgst_status = false;
                    this.sgst_status = false;
                }
                // Process Data
                this.product.igst = (this.igst_status) ? this.product.igst:null;
                this.product.cgst = (this.cgst_status) ? this.product.cgst:null;
                this.product.sgst = (this.sgst_status) ? this.product.sgst:null;
                // Process Data
                this.igst_status = (this.product.igst==0 || !this.product.igst) ? false:true;
                this.cgst_status = (this.product.cgst==0 || !this.product.cgst) ? false:true;
                this.sgst_status = (this.product.sgst==0 || !this.product.sgst) ? false:true;
                this.$store.dispatch('CreateProduct', this.product).
                then(res=>{
                    new Noty({text: res.data.message}).show();
                    this.$router.push("/product/"+res.data.created_id);
                })
                .catch(error => {
                    for (var key in error.response.data.errors) {
                        new Noty({type: 'error',text: error.response.data.errors[key][0]}).show();
                    }
                })
                .then(res => {
                    this.sending = false;
                })
            }
        },
    }

</script>

<style>

</style>
