@import url('https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700|Material+Icons');
@import 'variables';
@import '~bootstrap/scss/bootstrap';
@import '~nprogress/nprogress.css';
@import "~noty/src/noty.scss";
@import "~noty/src/themes/sunset.scss";

@import "~vue-material/dist/theme/engine"; // Import the theme engine

@include md-register-theme("default", (
  primary: md-get-palette-color(blue, A200), // The primary color of your application
  accent: md-get-palette-color(red, A200) // The accent or secondary color
));
@import "~vue-material/dist/theme/all"; // Apply the theme
*{
  font-family: "Quicksand";
}
.md-toolbar .md-button~.md-title, .md-toolbar .md-icon~.md-title:hover{
  text-decoration: none;  
}
#nprogress .bar{
  z-index: 9999;
  background: #ffffff;
}
#nprogress .peg{
  box-shadow: none;
}
#nprogress .spinner-icon{
  border-top-color: #ffffff;
  border-left-color: #ffffff;
}

