<template>
    <div>
        <form action="" class="md-layout" method="post" @submit.prevent="Create">
            <md-autocomplete v-model="product" :md-options="products"  :disabled="isSending" :md-open-on-focus="false"  md-layout="box" md-dense>
                <label>Product</label>
            </md-autocomplete>
        </form>
    </div>
</template>

<script>
export default {
    data() {
        return {
            isSending:true,
            product:"",
            products:[],
        }
    },
    created() {
        this.getProducts();
    },
    methods: {
        Create(){

        },
        getProducts(){
            this.$store.dispatch('getProducts', this.product).
            then(res=>{
                for (let index = 0; index < res.data.length; index++) {
                    this.products.push(res.data[index].name);
                }
            }).
            catch(error=>{

            }).
            then(res =>{
                this.isSending = false;
            })
        }
    },
}
</script>

<style>

</style>
